<p id="notice"><%= notice %></p>

<h1>Listing People</h1>

<table>
  <thead>
    <tr>
      <th>First name & Last name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Delete button</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to "#{person.first_name} #{person.last_name}", person %></td>
        <td><%= person.email %></td>
        <td><%= calculate_age(person.birthdate) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
